extends ../layouts/default
include ../mixins/tables.pug

block content
	.container-fluid.endpoint-container
		.row.endpoint-row
			.col-xl-3.col-md-5.col-12.left-column
				.row
					.col-12
						h4=customer.name
						p=customer.location.street1+', '+customer.location.suburb
						hr
					.col-12
						.card
							.card-block
								h3.card-title=customer.user.name
								p.card-text=customer.user.email
							.card-footer
								a.btn.btn-primary.btn-sm.float-right(href='/users/'+customer.user._id+'/') skoða
						hr
					.col-12
							a.btn.btn-primary.float-right(href='edit/') Breyta viðskiptavini
			.col-xl-9.col-md-7.col-12.table-column
				+overview-table(type,titles,selected)
