extends ../layouts/default
include ../mixins/tables.pug
include ../mixins/cards.pug
block content
	.container-fluid.endpoint-container
		.row.endpoint-row
			.col-xl-3.col-md-5.col-12.left-column
				.row
					.col-12
						h4=customer.name
						p=customer.location
						hr
					.col-12
						+user-card(customer.user)
						hr
					.col-12
							a.btn.btn-primary.float-right(href='edit/') Breyta viðskiptavini
			.col-xl-9.col-md-7.col-12.table-column
				+overview-table(type,titles,selected,keys)
