extends ../layouts/default
include ../mixins/tables.pug

block content

	.container-fluid
		.row
			.col-12.table-column
				ul.nav.nav-tabs.nav-fill(role='tablist')
					li.nav-item
						a.nav-link.active(href='#upcoming' data-toggle="tab" role="tab") Áríðandi
					li.nav-item
						a.nav-link(href='#jobs' data-toggle="tab" role="tab") Skýrslur
					li.nav-item
						a.nav-link(href='#forms' data-toggle="tab" role="tab") Verk
				.tab-content
					.tab-pane.active#upcoming(role='tabpanel')
						.row
							.col-12
								+overview-table('upcoming',upcomingTitles,upcomingSelected)
					.tab-pane#jobs(role='tabpanel')
						.row
							.col-12
								+overview-table('forms',formTitles,formSelected)
					.tab-pane#forms(role='tabpanel')
						.row
							.col-12
								+overview-table('jobs',jobTitles,jobSelected)