extends ../layouts/default
include ../mixins/tables.pug

block content

	.container-fluid
		.row
			.col-12.col-no-padding
				ul.nav.nav-tabs.nav-fill(role='tablist')
					li.nav-item
						a.nav-link.active(href='#forms' data-toggle="tab" role="tab" ) Skýrslur
					li.nav-item
						a.nav-link(href='#jobs' data-toggle="tab" role="tab") Verk
					li.nav-item
						a.nav-link(href='#upcoming' data-toggle="tab" role="tab") Áríðandi
		.row
			.col-12
				.tab-content
					.tab-pane.active#forms(role='tabpanel')
						.row
							.col-12.col-no-padding.index-container
								+overview-table(selectedForms.type,selectedForms.values, selectedForms.titles, selectedForms.keys)
					.tab-pane#jobs(role='tabpanel')
						.row
							.col-12.col-no-padding.index-container
								+overview-table(selectedJobs.type,selectedJobs.values, selectedJobs.titles, selectedJobs.keys)
					.tab-pane#upcoming(role='tabpanel')
						.row
							.col-12.col-no-padding.index-container
								+overview-table(selectedUpcoming.type,selectedUpcoming.values, selectedUpcoming.titles, selectedUpcoming.keys)