extends ../layouts/default
include ../mixins/tables.pug
include ../mixins/cards.pug
block content
	.container-fluid.endpoint-container
		.row.endpoint-row
			.col-xl-3.col-md-5.col-12.left-column
				.row
					.col-12
						h4=job.name
						p=job.prettyDate
						hr
					.col-12
						+customer-card(job.customer)
						hr
					.col-12
						+user-card(job.user)
						hr
					.col-12
						button.float-right.right-button.btn.btn-primary(type='button', data-toggle='modal', data-target='#form-modal') 
							i.fa.fa-plus.button-icon
							| Ný skýrsla
						a.btn.btn-secondary.float-right.right-button(href='edit/') Breyta
						a.btn.btn-danger.float-right(href='#' data-toggle='modal', data-target='#delete-modal') Eyða
					.col-12
						hr
					.col-12
						
						
			.col-xl-9.col-md-7.col-12.table-column
				if forms.length!=0
					+overview-job-table(forms.type,forms.values,forms.titles,forms.keys)
				else
					.container-fluid.d-flex.justify-content-center.align-items-center.empty
						.row
							.col-md-10.offset-md-1
								.card
									.card-block
										h4.card-title Engar skýrslur
										p.card-text Það hafa ekki verið gerðar neinar skýrslur fyrir þetta verkefni.
										p.card-text Viltu búa til nýja skýrslu fyrir þetta verkefni?
										button.float-right.right-button.btn.btn-primary(type='button', data-toggle='modal', data-target='#form-modal') 
											i.fa.fa-plus.button-icon
											| Ný skýrsla
block modals
	+deleteModal(job.name)