extends ../layouts/default

block content
	.container-fluid
		.row
			.col-12
				table.table
					thead
						tr
						th(scope='col') #
						th(scope='col') First Name
						th(scope='col') Last Name
						th(scope='col') Username
					tbody
						tr
						th(scope='row') 1
						td Mark
						td Otto
						td @mdo
						tr
						th(scope='row') 2
						td Jacob
						td Thornton
						td @fat
						tr
						th(scope='row') 3
						td Larry
						td the Bird
						td @twitter