extends ../layouts/default
include ../mixins/tables.pug

block content
	.container-fluid.endpoint-container
		.row.endpoint-row
			.col-xl-3.col-md-5.col-12.left-column
				.row
					.col-12
						h4=user.name
						p=user.email
						hr
					.col-12
						.card
							.card-block
								p.card-text='Hefur unnið að '+count+' skýrslum'
						hr
					.col-12
							a.btn.btn-primary.float-right(href='edit/') Breyta Notanda
			.col-xl-9.col-md-7.col-12.table-column
				.container-fluid
					.row
						.col-12.col-no-padding
							ul.nav.nav-tabs.nav-fill(role='tablist')
								li.nav-item
									a.nav-link.active(href='#forms' data-toggle="tab" role="tab" ) Skýrslur
								li.nav-item
									a.nav-link(href='#jobs' data-toggle="tab" role="tab") Verk
					.row
						.col-12
							.tab-content
								.tab-pane.active#forms(role='tabpanel')
									.row
										.col-12.col-no-padding.index-container
											+overview-table('forms',formTitles,formSelected,formKeys)
								.tab-pane#jobs(role='tabpanel')
									.row
										.col-12.col-no-padding.index-container
											+overview-table('jobs',jobTitles,jobSelected,jobKeys)
