mixin overview-table(titles,keys,data)
	.table-responsive
		table.table.table-hover.table
			thead
				tr
					each title in titles
						th(scope='col')=title
			tbody
				each s in selected
					tr.clickable(data-href=s.link)
						each val, i in s
							if i !=='link'
								td=val