mixin overview-table(type,titles,selected)
	.table-responsive
		table.table.table-hover
			thead
				tr
					each title in titles
						th(scope='col')=title
			tbody
				each s in selected
					tr.clickable(data-href=s.link, data-type=type)
						each val, i in s
							if i !=='link'
								td=val