include ../mixins/info
include ../mixins/modals
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Kæling'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		link(href='/styles/bootstrap4/bootstrap.css', rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css
		block head

	//- HTML BODY
	body

		//- HEADER
		#header
			nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
				button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				a.navbar-brand(href='/')
					img(src="/images/flake-white.png", alt="Logo for Kæling", height="30px")
				#navbarSupportedContent.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						each link in navLinks
							li.nav-item(class=(section == link.key ? 'active' : null))
								a.nav-link(href=link.href)= link.label
						li.nav-item.hide-desktop
							a.nav-link(data-toggle='modal', data-target='#help-modal' href="#") 
								i.fa.fa-question-circle.button-icon
								| Hjálp	
						li.nav-item.hide-desktop
							a.nav-link(href='/keystone') Umsjónarkerfi
						li.nav-item.hide-desktop
							a.nav-link(href='/keystone/signout/') Skrá út
					a.btn.btn-outline-secondary.navbar-button.hide-mobile(href='/keystone') Umsjónarkerfi
					a.btn.btn-outline-secondary.navbar-button#signout.right-button.hide-mobile(href='/keystone/signout') Skrá út
					button.btn.btn-outline-secondary.navbar-button.hide-mobile.right-button(type='button', data-toggle='modal', data-target='#job-modal') 
							i.fa.fa-plus.button-icon
							| verkefni
					button.btn.btn-outline-secondary.navbar-button.right-button.hide-mobile(type='button', data-toggle='modal', data-target='#form-modal') 
						i.fa.fa-plus.button-icon
						| skýrsla
					button.btn.btn-outline-secondary.navbar-button.right-button.hide-mobile(type='button', data-toggle='modal', data-target='#help-modal') 
						i.fa.fa-question-circle
				.row.mobile-brand-row
					a.mobile-brand(href='/')
						img(src="/images/flake-white.png", alt="Logo for Kæling", height="30px")
					button.btn.btn-outline-secondary.navbar-button(type='button', data-toggle='modal', data-target='#job-modal') 
							i.fa.fa-plus.button-icon
							| verkefni
					button.btn.btn-outline-secondary.navbar-button.right-button(type='button', data-toggle='modal', data-target='#form-modal') 
						i.fa.fa-plus.button-icon
						| skýrsla
					
		//- BODY
		#body
			block intro
			//+info(message)
			+formModal(lists.jobList, lists.userList)
			+jobModal(lists.customerList, lists.userList)
			+helpModal(help.title, help.body)
			block modals
			block content
		//- FOOTER
		//- #footer
		if notification
			+notificationCard(notification)
		//- JAVASCRIPT
		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='/js/bootstrap4/tether.min.js')
		script(src='/js/bootstrap4/bootstrap.min.js')
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		script(src='/js/main.js')
		block js
