extends ../../layouts/default

block content
	.container.form-container
		.row
			.col-12
				form(method='post')
					.form-group
						label(for='name') Nafn
						input(name='name', type='text', value=customer.name)#name.form-control
					.form-group.row
						.col-6
							label(for='user') Búið til af
							select(name='user')#user.form-control
								each user in lists.userList
									if user._id == customer.user._id
										option(value=user._id selected=true)=user.name
									else
										option(value=user._id)=user.name
						.col-6
							label(for='location') Staðsetning
							input(name='location', type='text', value=customer.location)#location.form-control

					button.btn.btn-primary.float-right.right-button(type='submit') Breyta
					a.btn.btn-secondary.float-right(href='../') Til baka

